<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>25187449076-lcgigsk3kbvtdu5tehl2gf058h0b4fci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.25187449076-lcgigsk3kbvtdu5tehl2gf058h0b4fci</string>
	<key>API_KEY</key>
	<string>AIzaSyA7uUq8Dx-H7WGrrsI9nDoL0xDGtaSmHwk</string>
	<key>GCM_SENDER_ID</key>
	<string>25187449076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdsmdg.ioscampusBuddy</string>
	<key>PROJECT_ID</key>
	<string>firebase-campus-buddy</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-campus-buddy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:25187449076:ios:b8c0c60c0c833a5f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-campus-buddy.firebaseio.com</string>
</dict>
</plist>